{% extends 'base.html' %}


{% block title %} Главная Страница  {% endblock %}





{% block content %}

<div class="welcome-text">
  <h1>Welcome to Qwiz!</h1>
  <p>Test your knowledge with our fun and challenging quizzes. Choose from a variety of topics, and see how you stack up against other players.
  To continue please login</p>
  {% if user.is_authenticated %}
  <a href="{% url 'game' %}" class="start-button hover-green green-button">Start</a>
  {% else %}
    <a href="{% url 'signin' %}" class="start-button green-button hover-green">SignIn</a> or
    <a href="" class="start-button green-button hover-green">SignUp</a>
  {% endif %}
</div>


<div id="support_appear" class="text-light">
  <span class="close">&times;</span>
  <p>Служба технической поддержки</p>
  <p>Телефон: 373-600-88-311</p>
  <p>Email: cristis991@mail.ru</p>
</div>


<div class="text-light">
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
</div>



















<!--<div class="popup" id="popup" style="display: none;" >-->
<!--      <div class="popup-content">-->
<!--        <h2>Хотите подписаться на нашу рассылку?</h2>-->
<!--        <button class="popup-button" onclick="subscribe()">Подписаться</button>-->
<!--      </div>-->
<!--    </div>-->



<script>
    setTimeout(function() {
        document.getElementById('support_appear').style.display = 'block';
    }, 2000);
    document.querySelector('#support_appear .close').addEventListener('click', function() {
  document.querySelector('#support_appear').style.display = 'none';
    });





    setTimeout(function() {
        document.getElementById('popup').style.display = 'block';
      }, 3000);

      function subscribe() {
        alert('Вы успешно подписались на нашу рассылку!');
        document.getElementById('popup').style.display = 'none';
      }

</script>

{% endblock %}