{% extends 'base.html' %}
{% load static %}


{% block title %} Qwiz-игра  {% endblock %}

{% block content %}
<div>

  <form method="post" class="question_detail_form">
    {% csrf_token %}
    <h3>{{ question.question }}</h3>
    <input type="radio" id="answer1" name="answer" value="1{{question.correct}}">
    <label for="answer1">{{ question.a1 }}</label><br>
    <input type="radio" id="answer2" name="answer" value="2{{question.correct}}">
    <label for="answer2">{{ question.a2 }}</label><br>
    <input type="radio" id="answer3" name="answer" value="3{{question.correct}}">
    <label for="answer3">{{ question.a3 }}</label><br>
    <input type="radio" id="answer4" name="answer" value="4{{question.correct}}">
    <label for="answer4">{{ question.a4}}</label><br>
    <button id="post_value" type="submit">Отправить</button>

     <div id="start_message">
    {% if message %}
    <h2 class="text-light">    {{message}}   </h2>
    {% else %}
    <h2 class="text-light">   Вы ответили неправильно   </h2>
    {% endif %}
  </div>

  </form>




<div class="container text-light">
  <div class="main-content">
  </div>
  <div class="rating-block">
    <h3>Рейтинг персонажа</h3>
    <table>
      <tbody>
        <tr>
          <td>Имя:</td>
          <td>{{custom_user.custom_user}}</td>
        </tr>
        <tr>
          <td >Рейтинг:</td>
          <td>{{custom_user.raiting}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script>
const form = document.querySelector('.question_detail_form');

form.addEventListener('submit', function(event) {
  const answers = form.querySelectorAll('input[name="answer"]');
  let answerChecked = false;

  // Проверяем, выбран ли хотя бы один вариант ответа
  for (let i = 0; i < answers.length; i++) {
    if (answers[i].checked) {
      answerChecked = true;
      break;
    }
  }

  // Если ни один вариант ответа не выбран, отменяем отправку формы и выводим сообщение об ошибке
  if (!answerChecked) {
    event.preventDefault();
    alert('Пожалуйста, выбери один из вариантов ответа');
  }
});


</script>


{% endblock %}